.letter {
  position: absolute;
  text-align: center;
}
.letter--moving {
  animation: slide-fade-in-out 2s;
}

@keyframes slide-fade-in-out {
  0% {
    transform: translateX(0); 
    opacity: 1;
  }

  25% {
    transform: translateX(-50px);
    opacity: 0;
  }

  75% {
    transform: translateX(50px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
