.button {
  font-size: var(--fs-300);
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 5px;
}

.button--solid {
  color: #ffffff;
  background-color: var(--dark-blue);
}

.button--outline {
  color: var(--dark-blue);
  border: 2.5px solid var(--dark-blue);
}

.button--outline:hover {
  background-color: var(--gray-shade);
}

@media screen and (max-width: 600px) {
  .button {
    padding: 0.8rem 2.2rem;
  }
}
