.social-media-list {
  display: flex;
}

.social-media-list__icon {
  width: 18px;
  height: 18px;
  opacity: 0.8;
  cursor: pointer;
}

.social-media-list__icon:hover {
  opacity: 1;
}

.social-media-list__item + .social-media-list__item {
  margin-left: 2rem;
}
