.header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  min-height: 4.5rem;
  z-index: 1000;
  transition: background-color 0.1s, box-shadow 0.1s;
}

.header__inner {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .header__login {
    margin-right: clamp(4rem, 3rem + 6vw ,6rem);
  }
}
