.header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  min-height: 4.2rem;
  z-index: 1000;
  transition: background-color 0.1s, box-shadow 0.1s;
}

.header__inner {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.header__sign-up-link {
  display: flex;
  font-size: var(--fs-400);
  color: var(--white-shade);
  background-color: var(--dark-blue);
  align-items: flex-start;
  padding: 0.7rem 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 5px;
}

@media screen and (max-width: 900px) {
  .header__sign-up-link {
    margin-right: 5rem;
  }
}

@media screen and (max-width: 325px) {
  .header__sign-up-link {
    margin-right: 4rem;
  }
}
