.section {
  margin-bottom: var(--space-xxl);
}

.section--margin-bottom {
  margin-bottom: var(--space-xl);
}

@media screen and (min-width: 600px) {
  .section {
    margin-bottom: var(--space-xxxl);
  }

  .section--margin-bottom{
    margin-bottom: var(--space-xxl);
  }
}
