form {
  position: relative;
  min-height: 50px;
  margin-top: 3rem;
  border-radius: 20px;
  border: none;
}

form input[type="text"] {
  width: 100%;
  min-height: 50px;
  border: thin solid var(--gray-shade);
  background-color: var(--white-shade);
  border-radius: inherit;
}

form input[type="text"]::placeholder {
  font-size: var(--fs-300);
  padding: 0 1.5em;
  opacity: 0.8;
}

form input[type="submit"] {
  position: absolute;
  right: 0;
  height: 100%;
  font-size: var(--fs-400);
  line-height: var(--lh-sm);
  padding: 1rem 1.5rem;
  background-color: var(--dark-blue);
  color: var(--white-shade);
  border: inherit;
  border-radius: inherit;
  border-top-left-radius: 0;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  form {
    display: flex;
    flex-direction: column;
  }
  form input[type="submit"] {
    position: initial;
    margin: var(--space-lg) 0 0 auto;
  }
}
